extends ../layouts/application.pug

block content
  h1= t('views.labels.actions.change')
    +formFor()(action=`/labels/${label.id}` method='post')
      +input(label, "name")(type="text", value=label.name)
      +buttonTo(`/labels/${label.id}`, 'patch')(class="btn btn-primary" value=t('views.labels.actions.change'))
    